@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --white: #ffffff; 
    --black: #1a1919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: var(--black);
}

.bg-image {
    background-image: url(images/pattern-bg.png);
    background-size: cover;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--white);
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 16px;
}

select {
    width: 95%;
    max-width: 730px;
    height: 60px;
    background-color: var(--white);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    padding-left: 15px;
    display: block;
    border-right: 25px solid var(--white);
}

#map {
    height: 65vh;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    select {
        height: 70px;
    }
    .leaflet-popup-content {
        font-size: 1.5em !important;
    }
}